/***********************************
            Base
***********************************/
body {
  font-family: "FOT-筑紫明朝 Pr6N L", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", "HG明朝E", "MS PMincho", "ＭＳ Ｐ明朝", serif;

  background-color: #fefefe;
  color: #222;
}


a:link { color: #999;
  text-decoration:none;
}
a:visited { color: #999; }
a:hover { color: #999; }
a:active { color: #999; }

#container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.stageBase{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fieldWrap{
  position: absolute;
  text-align: center;
  width: 85%;
  height:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

#name, #concepts,#works {
  position: absolute;
  vertical-align: middle;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 32px;
}

/***********************************
            1ページ目
***********************************/
#stage1 .fieldWrap #name {
  height: 73.5%;
  background-color: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


#stage1 div#name #title1{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  height: 40%;

  text-shadow: 1px 2px 2px rgba(255,255,255,0.3);
  font-size: 400%;
  transform: scale(1,1.1618);
  color: #fff;
}


.conA, .conB{
  display: inline;
}

/***********************************
            2ページ目
***********************************/
#stage2 h2 {
  color: black;
  font-size: 300%;
  font-weight: bold;
  margin: 20px auto;
}

#animeA{
  position: relative;
  right: 100%;
  color: black;
  font-size: 300%;

}

#animeB{
  position: relative;
  left: 100%;
  color: black;
  font-size: 300%;
}


/***********************************
            3ページ目
***********************************/

#stage3 {
  position: absolute;
  background-color: #222;
  color: #fff;
  height: 80%;
  width: 100%;
}

#stage3 .fieldWrap{
  width: 85%;
}

#stage3 #title3{
  position: absolute;
  left: 0%;
  top: 35%;
  width: 25%;
  font-size: 40px;
  margin: 0 auto;
}

#title3:before,#title3:after{
  position: relative;
  display: inline-block;
  font-size: 64px;
  color: #ff6a6a;
}
#title3:before{
  content:"<";
}
#title3:after{
  content:">";
}

#stage3 #list{
  position: absolute;
  height: 70%;
  width:80%;
  top: 10%;
  right: 0%;
  display: grid;
  grid-row-gap: 30%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px auto;
}

#stage3 .item{
  position: relative;
  margin: 0%;
  height: 220%;
}

#stage3 .thumbnail{
  object-fit: contain;
  width: 342px;
  height: 211px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

/***********************************
            フッター
***********************************/

footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background-color: #f8f8f8;
  color: #999;
  text-align: left;
}

h2.contacts-box{
  display: inline-block;
  border: 4px double #aaa;
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  padding: 21px 0;
  margin: 0 auto;
}

p.contacts-box{
  display: inline-block;
  margin-left: 5%;
  vertical-align:middle;
  width: 50%;
}

footer #inline-footer{
  padding-left: 10%;
  width: 100%;
  height: 100%;
}

footer #inline-footer p{
  font-size: 300%;
}

footer #inline-footer .name{
  margin-right: 64px;
}

